/* src/App.css */

body {
  margin: 0;
  padding: 0;
  background-image: url('../public/logo-color.png'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Use column direction to position footer at the bottom */
  background-color: rgba(255, 255, 255, 0.7); /* Add a white overlay */
  background-blend-mode: lighten; /* Makes the image lighter */
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.8); /* White background for the app content */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin: 0 20px; /* Added margin for some horizontal spacing */
  flex: 1; /* Allow container to grow and push footer down */
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto; /* Push footer to the bottom */
}
